.end-filter{
    display: flex;
}
.end-filter p{
    background-color: #00ADB5;
    width: 82px;
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 33px;
    align-content: center;
}
.end-list{
    margin-top:30px;
}
.end-item{
    border-bottom: 1px solid silver;
}
.end-detail{
    display: flex;
}
.end-item h2{
    margin:0px
}
.end-team-arr{
    display: flex;
    align-items: center;
    margin: 5px;
}

.end-team-arr img{
    width: 45px;
    height: 45px;
}