
.top-content {
    display: flex;
    align-items: center;
    gap: 12px; 
    padding: 0 16px;
    margin-bottom: 20px;
}
.top-content h2 {
    text-decoration: none;
    color: #888;
    margin: 0;
    font-size: 18px;
    cursor: pointer; 
}
.top-content h2:first-child { 
    color: #333; 
    font-weight: bold;
}
.top-content hr { 
    border: none;
    width: 1px;
    height: 16px;
    background-color: #ccc;
    margin: 0;
}


.match-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 768px) {
  .match-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .match-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* ======== .main-top 및 버튼 ======== */
.main-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.main-top p{
    background-color: #00ADB5;
    width: 82px;
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 33px;
    align-content: center;
}
.match-card-link {
    text-decoration: none; 
    color: inherit;       
    display: block;    
}

.match-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* 버튼 사이 간격 */
}

.match-add,.registration-match{
    background-color: #00ADB5;
    width: 85px;
    color: white;
    text-align: center;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    font-size: 16px;
    border: none; 
    cursor: pointer;
}
.match-card img {
    width: 100%;  
    height: 200px; 
    object-fit: cover; 
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.match-filter select,
.match-filter .filter-checkbox {
    /* 공통 버튼 디자인 */
    height: 33px;
    border: none;
    background-color: #00ADB5;
    color: white;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.match-filter .filter-checkbox input[type="checkbox"] {
    display: none;
}


.match-filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;
}

.match-filter select:invalid {
    color: #f0f0f0; 
}
.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.calendar-header h2 {
    margin: 0 16px; 
    font-size: 24px;  
    color: #333;
}

.calendar-header button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; 
    color: #555;
    padding: 8px; 
}