
body {
  font-family: sans-serif;
  align-content: center;
}

#content{
  margin: 0 auto;
  margin-bottom: 30px;
}

.page-menu{
  margin-left: 5px;
}
.team-match-result{
  display: flex;
}
.match-result-box{
  border: 1px solid;
}

.team-img,
.team-name{
  text-align: center;
}
.team-img img{
    margin-left: 179px;
}


.homeuser-arr {
  display: flex;
  align-items: center;
} 
.win-box {
  width: 34px;
  height: 34px;
  background-color: #4285F3;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 8px;
}
.lose-box {
  width: 34px;
  height: 34px;
  background-color: #EF4444;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 8px;
}


.team-result{
  display: flex;
  justify-content: space-around;
}
.awayteam-arr,
.hometeam-arr{
  border: 1px solid;
  width: 480px;
  margin: 15px;
  border-radius: 8px;
}
.match-score-arr{
  display: flex;
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}
.user-record-arr{
  border-radius: 8px;
}
.menu-arr{
  display: flex;
  align-items:center;
}

#tabs {
  max-width: 1024px;
  margin: 2rem 0;
  overflow: hidden;
}

#tabs menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.25rem;
  border-bottom: 3px solid #00ADB5;
}

#tabs button {
  font: inherit;
  font-size: 0.85rem;
  background-color: #ffffff;
  border: none;
  border-radius: 4px 4px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  height: 35px;
}

#tabs button:hover,
#tabs button.active {
  background-color: #00ADB5;
  color: #273133;
  height: 35px;
}

#tab-content {
  border-radius: 0 4px 4px 4px;
}

#tab-content li {
  margin: 0.75rem 0;
}

