/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이 */
  background-color: #fff;
}

.layout-content {
  flex: 1; /* Header/Footer 제외하고 남은 공간 채움 */
  overflow-y: auto;
}

